<div class="container">
	<div class="page-header">
		Search series, comics, or characters here....
	</div>

	<div class="alert alert-danger" hidden>
		<label>Please type in at least 3 characters.</label>
	</div>

	<div class="search-group">
		<div>
			<div class="filter-group">
				<label>Search By</lable>
				<select id="filter" name="filter">
					<option value="comics" selected>Comic Title</option>
					<option value="characters">Character</option>
					<option value="series">Series</option>
				</select>
			</div>	
			<div class="search">
				<input type="text" class="main-search" id="search-query" name="search-query" autocomplete="off" placeholder="Type in 3 characters or more"></input>
				<ul id="search-results" class="results">
					<!-- <li><a href="index.html">Search Result #1<br /><span>Description...</span></a></li> -->
				</ul>
			</div>
			<div class="button-group">
				<button id="go-button" type="button" class="go-button">GO!</button>
			</div>
		<div>
	</div>
</div>

