<div class="page-header">
	Search comics here....
</div>

<div class="search-group">
	<div>
		<div class="filter-group">
			<label>Filter By</lable>
			<select id="filter" name="filter">
				<option value="title" selected>Comic Title</option>
				<option value="characters">Character</option>
				<option value="series">Series</option>
			</select>
		</div>	
		<input type="text" class="main-search" id="search-query" name="search-query" placeholder="Type in 3 characters or more"></input>
		<div class="button-group">
			<button id="go-button" type="button" class="go-button">GO!</button>
		</div>
	<div>
</div>

