html {
	position:relative; 
	min-height: 100%;
}

html,body {
	margin:0;
	padding:0;
}

a {
	cursor: pointer;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #000;
}

.footer > div {
	padding-top: 15px;
	text-align: center;
	color: #FFF;
}

#view {
	padding-top: 100px;
	margin-bottom:60px;
}

div.search-group {
	padding-top: 50px;
	width: 100%;
	text-align: center;
}

input.main-search {
	outline: none;
	border-radius: 10px;
	border-color: #F11E22;
	width: 300px;
	height: 50px;
	font-size: 20px;
	padding: 15px 5px;
}

div.filter-group > label {
	font-size: 24px;
	font-weight: normal;
}

div.page-header {
	font-size: 30px;
	font-weight: bold;
}

div.series-title {
	font-size: 20px;
	font-weight: bold;
}

div.button-group {
	margin-top: 30px;
}

div.series-bio {
	margin-bottom: 10px;
}

button.go-button {
	width: 100px;
	height: 50px;
	font-size: 24px;
	font-weight: bold;
	color: #FFF;
	background-color: #F11E22;
	border: none;
	outline-color: #000;
}

button.go-button:hover {
	opacity: 0.8;
}

div.no-result,
td.no-result {
	text-align: center;
	font-weight: bold;
	background-color: #CCC;
}

div.no-result.error {
	font-size: 24px;
}

div.character-bio {
	font-size: 20px;
}

#overlay {
    background: rgba(255, 255, 255, 0.6);
    color: #666666;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 5000;
    top: 0;
    left: 0;
    float: left;
    text-align: center;
    padding-top: 25%;
}

/* Search Box */
.search {
    position: relative;
    margin: 0 auto;
    width: 300px;
}

/*.search input {
    height: 26px;
    width: 100%;
    padding: 0 12px 0 25px;
    background: white url("http://cssdeck.com/uploads/media/items/5/5JuDgOa.png") 8px 6px no-repeat;
    border-width: 1px;
    border-style: solid;
    border-color: #a8acbc #babdcc #c0c3d2;
    border-radius: 13px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    -moz-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    -ms-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    -o-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
}*/

/*.search input:focus {
    outline: none;
    border-color: #66b1ee;
    -webkit-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -moz-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -ms-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -o-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
}*/

.search input:focus + .results { display: block }

.search .results {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 0;
    margin: 0;
    text-align: left;
    border-width: 1px;
    border-style: solid;
    border-color: #cbcfe2 #c8cee7 #c4c7d7;
    border-radius: 3px;
    background-color: #fdfdfd;
}

.search .results li { display: block }

.search .results li:first-child { margin-top: -1px }

.search .results li:first-child:before, 
.search .results li:first-child:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    margin-left: -5px;
    border: 5px outset transparent;
}

.search .results li:first-child:before {
    border-bottom: 5px solid #c4c7d7;
    top: -11px;
}

.search .results li:first-child:after {
    border-bottom: 5px solid #fdfdfd;
    top: -10px;
}

.search .results li:first-child:hover:before, 
.search .results li:first-child:hover:after { 
	display: none 
}

.search .results li:last-child { 
	margin-bottom: -1px 
}

.search .results a {
    display: block;
    position: relative;
    margin: 0 -1px;
    padding: 6px 40px 6px 10px;
    color: #808394;
    font-weight: 500;
    text-shadow: 0 1px #fff;
    border: 1px solid transparent;
    border-radius: 3px;
}

.results:hover{
	display: block
}

.search .results a span { font-weight: 200 }

.search .results a:before {
    content: '';
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -9px;
}

.search .results a:hover {
    text-decoration: none;
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
    border-color: #2380dd #2179d5 #1a60aa;
    background-color: #338cdf;
}

@media (max-width: 978px) {
    #view {
		padding-top: 50px;
	}

	div.search-group {
		padding-top: 20px;
	}

	div.page-header {
		font-size: 24px;
		font-weight: bold;
	}

	div.character-bio {
		margin-top: 50px;
		font-size: 16px;
	}

	.page-header {
		padding-top: 20px;
	}

	#overlay {
		padding-top: 50%;
	}

	.item-description {
		padding-top: 15px;
		padding-bottom: 15px;
	}
}

@media (max-width: 320px) {
	input.main-search {
		width: 270px;
	}
}