<div class="table-responsive">
	<table class="table table-hover">
		<thead>
			<th>&nbsp;</th>
			<th>Name</th>
			<th>Description</th>
		</thead>
		<tbody>
			{{#.}}
			<tr>
				<td class="col-md-2"><a href="#/characters/details/{{id}}"><img src="{{ thumbnail.path }}/portrait_small.jpg"></img><a/></td>
				<td class="col-md-2">{{ name }}</td>
				<td class="col-md-8">{{ #description }}{{{ description }}}{{/description}}{{^description}}No Description Provided{{/description}}</td>
			</tr>
			{{/.}}
			{{^.}}
				<tr>
					<td colspan="5" class="no-result">No Characters Found</td>	
				</tr>
			{{/.}}
		</tbody>
	</table>
</div>