<div class="container character-bio">
	<div class="col-md-3 text-center">
		<img src="{{ thumbnail.path }}/portrait_fantastic.jpg"></img>
	</div>
	<div class="col-md-9">
		<ul>
			<li>Name: {{ name }}</li>
			<li>{{ description }}</li>
		</ul>
	</div>
</div>
<div class="table-responsive">
	<table class="table table-hover">
		<thead>
			<th class="text-center">#</th>
			<th>Comics</th>
		</thead>
		<tbody>
			{{#comics.items}}
			<tr>
				<td class="col-md-2 text-center">{{ index }}</td>
				<td class="col-md-10">{{ name }}</td>
			</tr>
			{{/comics.items}}
			{{^comics.items}}
				<tr>
					<td colspan="5" class="no-result">No Results Found</td>	
				</tr>
			{{/comics.items}}
		</tbody>
	</table>
</div>